<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:Event/etc/events.xsd">
    <event name="catalog_controller_product_init_after">
        <observer name="web4pro_get_current_product"
                  instance="W4PLEGO\Base\Observer\RegisterCurrentProductObserver"/>
    </event>
    <event name="catalog_controller_category_init_after">
        <observer name="web4pro_get_current_category"
                  instance="W4PLEGO\Base\Observer\RegisterCurrentCategoryObserver"/>
    </event>
</config>
