<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Backend:etc/menu.xsd">
    <menu>
        <add id="W4PLEGO_Base::web4pro" title="Web4Pro" translate="title" module="W4PLEGO_Base" sortOrder="55"
             resource="W4PLEGO_Base::web4pro"/>
    </menu>
</config>
